#footer
{
    width: 1250px;
    padding: 0 15px;
    font-size: 12px;
	height: 260px;
}

#footer p
{
    color: #fff;
	font-size: 12px;
}

#footer a
{
    color: #fff;
    font-weight: normal;
    font-size: 12px;
}

#footer p.breadcrumbs
{
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

#footer
{
	min-height: 260px;
}

#footerContainer
{
	background: #1e1e1e url(../img/footer_bg.png) no-repeat right bottom;
        border-top: 3px solid #236946;
}